* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;
  position: sticky;
  top: 0;
  z-index: 2;
}
/* HEADER MAIN DIV */

header #headermain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HEADER SECTION A */

header #headermain .ha {
  padding: 0 24px;
  min-height: 40px;
  width: 100%;
  background-color: rgb(47, 97, 46);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
header #headermain .ha .p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #headermain .ha .p p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  gap: 3px;
}
header #headermain .ha .p p a {
  color: white;
}
header #headermain .ha .p p a:hover {
  color: yellowgreen;
}
header #headermain:hover .ha .p p a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
header #headermain .ha .button {
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 16vw;
}
header #headermain .ha .button a {
  text-decoration: none;
}
header #headermain .ha .button a .material-symbols-outlined {
  color: white;
  height: 100%;
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #headermain .ha .button a .material-symbols-outlined:hover {
  color: yellowgreen;
}
header #headermain:hover .ha .button a .material-symbols-outlined {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}

/* HEADER SECTION B */

header #headermain .hb {
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Geograph, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
}
header #headermain .hb .nav {
  display: flex;
}
header #headermain .hb .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
  padding: 0 0 0 2vw;
  list-style: none;
  min-width: 5vw;
}
header #headermain .hb .nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #headermain .hb .nav ul li .navitems {
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #headermain .hb .nav ul li .navitems:hover {
  color: seagreen;
}
header #headermain .hb .nav ul li .navitems:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
header #headermain:hover .hb .nav ul li .navitems {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
header #headermain .hb .logo {
  height: 32px;
  min-width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #headermain .hb .logo .allbirds {
  background-image: url(Allbirds\ Logo.png);
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
header #headermain .hb .actions {
  margin-right: 2.5vw;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header #headermain .hb .actions .actionsultext {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.2vw;
  margin-right: 2vw;
}
header #headermain .hb .actions .actionsultext .actionslitext {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #headermain .hb .actions .actionsultext .actionslitext .at {
  text-decoration: none;
  text-align: center;
  color: black;
}
header #headermain:hover .hb .actions .actionsultext .actionslitext .at {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
header #headermain .hb .actions .actionsultext .actionslitext .at:hover {
  text-decoration: underline;
  text-decoration-color: black;
  color: seagreen;
}
header #headermain .hb .actions .actionsulicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.2vw;
}
header #headermain .hb .actions .actionsulicon .actionsaicon {
  text-decoration: none;
  color: black;
}
header
  #headermain
  .hb
  .actions
  .actionsulicon
  .actionsaicon
  .material-symbols-outlined {
  font-size: 26.5px;
}
header
  #headermain:hover
  .hb
  .actions
  .actionsulicon
  .actionsaicon
  .material-symbols-outlined {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
header
  #headermain
  .hb
  .actions
  .actionsulicon
  .actionsaicon
  .material-symbols-outlined:hover {
  color: seagreen;
}

/* MAIN */

main {
  width: 100%;
}
main .mainfirst {
  min-width: 100%;
  min-height: calc(100vh - 100px);
  background-image: url(MI1.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
main .mainfirst .headings {
  min-width: 37%;
  font-size: 2.4rem;
  padding: 3.2% 2.5%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
main .mainfirst .headings h5 {
  font-size: 1.4rem;
  font-weight: 100;
}
main .mainfirst .headings h1 {
  font-size: 6.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
main .mainfirst .headings h3 {
  font-size: 2.4rem;
  font-weight: 200;
}
main .mainfirst .headings hr {
  color: seagreen;
  border: seagreen solid 1px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
main .mainfirst .headings p {
  font-size: 0.9rem;
}
main .mainfirst .mainbuttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  height: 110px;
  width: 100%;
  padding: 1.5% 3% 1.7% 70%;
}
main .mainfirst .mainbuttons button {
  min-height: 46px;
  min-width: 176px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 0.9rem;
}
main .mainfirst:hover .mainbuttons button a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
main .mainfirst .mainbuttons button a {
  text-decoration: none;
  color: black;
  text-align: center;
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainfirst .mainbuttons button a:hover {
  background-color: seagreen;
  color: black;
}
main .mainsecond {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.6%;
  gap: 0.6%;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
main .mainsecond .msimage1 {
  background-image: url(MI2.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33%;
  height: 100%;
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .mainsecond .msimage1 .msh {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 2rem;
  font-size: 12px;
}
main .mainsecond .msimage1 .msh h3 {
  font-weight: 400;
}
main .mainsecond .msimage1 .mainsbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  height: 110px;
  width: 100%;
  margin-bottom: 0.5rem;
  visibility: hidden;
}
main .mainsecond .msimage1 .mainsbuttons button {
  height: 40px;
  width: 160px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
}
main .mainsecond .msimage1 .mainsbuttons button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
main .mainsecond .msimage1 .mainsbuttons button a:hover {
  background-color: seagreen;
  color: black;
}
main .mainsecond .msimage1:hover .mainsbuttons button a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
main .mainsecond .msimage1:hover .mainsbuttons {
  visibility: visible;
}
main .mainsecond .msimage2 {
  background-image: url(MI3.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33%;
  height: 100%;
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .mainsecond .msimage2 .msh2 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 2rem;
  font-size: 12px;
}
main .mainsecond .msimage2 .msh2 h3 {
  font-weight: 400;
}
main .mainsecond .msimage2 .mainbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100%;
  margin-bottom: 0.5rem;
  visibility: hidden;
}
main .mainsecond .msimage2 .mainbuttons button {
  height: 40px;
  width: 160px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
}
main .mainsecond .msimage2 .mainbuttons button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
main .mainsecond .msimage2:hover .mainbuttons button a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
main .mainsecond .msimage2 .mainbuttons button a:hover {
  background-color: seagreen;
  color: black;
}
main .mainsecond .msimage2:hover .mainbuttons {
  visibility: visible;
}
main .mainsecond .msimage3 {
  background-image: url(MI4.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33%;
  height: 100%;
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .mainsecond .msimage3 .msh3 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 2rem;
  font-size: 12px;
}
main .mainsecond .msimage3 .msh3 h3 {
  font-weight: 400;
}
main .mainsecond .msimage3 .mainsbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  height: 110px;
  width: 100%;
  margin-bottom: 0.5rem;
  visibility: hidden;
}
main .mainsecond .msimage3 .mainsbuttons button {
  height: 40px;
  width: 160px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
}
main .mainsecond .msimage3 .mainsbuttons button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
main .mainsecond .msimage3:hover .mainsbuttons button a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
main .mainsecond .msimage3 .mainsbuttons button a:hover {
  background-color: seagreen;
  color: black;
}
main .mainsecond .msimage3:hover .mainsbuttons {
  visibility: visible;
}
main .mainthird {
  width: 100%;
  height: 47vh;
  background-image: url(MI5.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Geograph, Helvetica, Arial, sans-serif;
  padding: 2%;
  line-height: 1.9rem;
}
main .mainthird h1 {
  text-transform: uppercase;
  font-size: x-large;
  margin-bottom: 24px;
  margin-top: 25px;
}
main .mainthird p {
  padding: 0 21%;
  margin-bottom: 25px;
  font-size: 18px;
}
main .mainthird .mth .Image {
  min-height: 32px;
  background-image: url(ABMI.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainthird .mth h6 {
  line-height: 15px;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 2%;
}
main .mainfourth {
  width: 100%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .mainfourth .mfn {
  width: 100%;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 48px;
  font-family: Geograph, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}
main .mainfourth .mfn a {
  text-decoration: none;
  color: rgb(75 85 99);
}
main .mainfourth .mfn a:hover {
  text-decoration: underline;
  color: seagreen;
}
main .mainfourth .mfi {
  width: 100%;
  height: calc(100vh - 26px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
main .mainfourth .mfi .mfi1 {
  width: calc(100% - 50%);
  height: 100%;
  background-image: url(MI6.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainfourth .mfi .mfi1 h2 {
  text-align: center;
  color: white;
}
main .mainfourth .mfi .mfi2 {
  width: calc(100% - 50%);
  height: 100%;
  background-image: url(MI7.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainfourth .mfi .mfi2 h2 {
  text-align: center;
  color: white;
}
main .mainlogo {
  width: 100%;
  height: 30vh;
  margin-bottom: 2.5%;
  padding: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(47, 97, 46);
}
main .mainlogo .logom {
  width: 100%;
  height: 100%;
  background-image: url(Allbirds\ Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: white solid 1px;
}
main .mainlogo:hover .logom {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
  rotate: 1.5deg;
  border-color: aqua;
  background-color: seagreen;
}
main .mainfifth {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: Geograph, Helvetica, Arial, sans-serif;
  margin-bottom: 5%;
}
main .mainfifth .mfm1 {
  width: calc(100% - 50%);
  height: 100vh;
}
main .mainfifth .mfm1 .mfmi1 {
  width: 100%;
  height: 100%;
  background-image: url(MI8.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 64px 32px;
}
main .mainfifth .mfm1 .mfmi1 .mfmh {
  line-height: 2rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .mainfifth .mfm1 .mfmi1 .mfmh p {
  font-size: 16px;
}
main .mainfifth .mfm1 .mfmi1 button {
  min-height: 44px;
  min-width: 175.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: white;
  visibility: hidden;
  text-transform: uppercase;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
main .mainfifth .mfm1 .mfmi1:hover button {
  visibility: visible;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
main .mainfifth .mfm1 .mfmi1 button:hover {
  background-color: seagreen;
  color: black;
}
main .mainfifth .mfm1 .mfmi1 button a {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .mainfifth .mfm2 {
  width: calc(100% - 50%);
  height: 100vh;
}
main .mainfifth .mfm2 .mfmi2 {
  width: 100%;
  height: 100%;
  background-image: url(MI9.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 64px 32px;
}
main .mainfifth .mfm2 .mfmi2:hover .mfmb {
  visibility: visible;
}
main .mainfifth .mfm2 .mfmi2 .mfmh2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  color: white;
}
main .mainfifth .mfm2 .mfmi2 p {
  font-size: 16px;
}
main .mainfifth .mfm2 .mfmi2 .mfmb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 44px;
  width: 100%;
  gap: 0.5rem;
  visibility: hidden;
}
main .mainfifth .mfm2 .mfmi2 .mfmb button {
  min-width: 160px;
  height: 100%;
  background-color: white;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
main .mainfifth .mfm2 .mfmi2:hover .mfmb button {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
main .mainfifth .mfm2 .mfmi2 .mfmb button:hover {
  color: black;
  background-color: seagreen;
}
main .mainfifth .mfm2 .mfmi2 .mfmb button a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

/* FOOTER */

footer {
  width: 100%;
}
footer .footermain {
  width: 100%;
  background-color: rgb(245 245 245);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
footer .footermain .fmf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 336px;
  padding: 48px;
  line-height: 1.5;
}
footer .footermain .fmf h1 {
  margin-bottom: 30px;
}
footer .footermain .fmf p {
  margin: 0 20%;
}
footer .footermain .fmf .signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 48px;
  gap: 0.7rem;
  margin-bottom: 25px;
  margin-top: 25px;
}
footer .footermain .fmf .signup input {
  min-height: 48px;
  min-width: 46%;
  padding: 2px 12px 0px;
  border: none;
  border-bottom: 2px solid rgb(33, 33, 33);
  background-color: white;
  text-align: left;
}
::placeholder {
  color: rgb(211 212 213);
  font-weight: 600;
  font-size: 16px;
}
footer .footermain .fmf .signup button {
  height: 48px;
  width: 11.2%;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  background-color: black;
  font-weight: 600;
  border: none;
  text-align: center;
}
footer .footermain .fmf .signup button a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer .footermain:hover .fmf .signup button a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .footermain .fmf .signup button:hover a {
  background-color: seagreen;
  color: black;
}
footer .footermain .fmf .p2 {
  font-size: 14px;
}
footer .footermain .fmf .p2 span a {
  font-weight: 600;
  color: black;
}
footer .footermain .fmf .p2 span a:hover {
  color: seagreen;
}
footer .footermain:hover .fmf .p2 span a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .fms {
  padding: 5rem 5.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
footer .fms h1 {
  text-align: left;
  margin-bottom: 24px;
}
footer .fms .hd {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  gap: 24px;
  line-height: 1.5;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}
footer .fms .hd .hd1 h2 {
  margin-bottom: 9px;
  font-size: 22px;
}
footer .fms .hd .hd1 p {
  font-size: 14px;
}
footer .fms .hd .hd1 a {
  font-size: 14px;
  color: black;
  font-weight: 400;
}
footer .fms .hd .hd1 a:hover {
  color: seagreen;
}
footer .fms:hover .hd .hd1 a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .fms .hd .hd2 h2 {
  margin-bottom: 9px;
  font-size: 22px;
}
footer .fms .hd .hd2 p {
  font-size: 14px;
}
footer .fms .hd .hd2 a {
  font-size: 14px;
  color: black;
  font-weight: 400;
}
footer .fms .hd .hd2 a:hover {
  color: seagreen;
}
footer .fms:hover .hd .hd2 a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .fms .hd .hd3 h2 {
  margin-bottom: 9px;
  font-size: 22px;
}
footer .fms .hd .hd3 p {
  font-size: 14px;
}
footer .fms .hd .hd3 a {
  font-size: 14px;
  color: black;
  font-weight: 400;
}
footer .fms .hd .hd3 a:hover {
  color: seagreen;
}
footer .fms:hover .hd .hd3 a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #212121;
  color: white;
  font-family: Geograph, Helvetica, Arial, sans-serif;
  padding: 72px;
  text-align: center;
}
footer .end .end1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
}
footer .end .end1 .endh1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh1 h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 18px;
  text-align: center;
}
footer .end .end1 .endh1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh1 ul li {
  margin-bottom: 12px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh1 ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
footer .end .end1 .endh1 ul li a:hover {
  color: seagreen;
}
footer .end:hover .end1 .endh1 ul li a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .end .end1 .endh2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh2 h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 18px;
  text-align: center;
}
footer .end .end1 .endh2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh2 ul li {
  margin-bottom: 12px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh2 ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
footer .end .end1 .endh2 ul li a:hover {
  color: seagreen;
}
footer .end:hover .end1 .endh2 ul li a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .end .end1 .endh3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh3 h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 18px;
  text-align: center;
}
footer .end .end1 .endh3 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh3 ul li {
  margin-bottom: 12px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end1 .endh3 ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
footer .end .end1 .endh3 ul li a:hover {
  color: seagreen;
}
footer .end:hover .end1 .endh3 ul li a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}

footer .end .end2 {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0;
}
footer .end .end2 .end2a {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .end .end2 .end2a .end2a1 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
footer .end .end2 .end2a .end2a1 .end2a1h {
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
footer .end .end2 .end2a .end2a1 .end2a1h h3 {
  margin-bottom: 18px;
}
footer .end .end2 .end2a .end2a1 .end2a1h p {
  margin-bottom: 18px;
}
footer .end .end2 .end2a .end2a1 .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 20px;
  gap: 5%;
}
footer .end .end2 .end2a .end2a1 .social a {
  width: 18px;
  height: 18px;
}
footer .end .end2 .end2a .end2a1 .social a img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
footer .end .end2 .end2a .end2a1 .social a:hover {
  background-color: seagreen;
  border-radius: 20%;
}
footer .end:hover .end2 .end2a .end2a1 .social a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .end .end2 .end2a .end2a2 {
  height: 100%;
  width: calc(100% - 60%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer .end .end2 .end2a .end2a2 img {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer .end .end2 .end2b {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
footer .end .end2 .end2b img {
  height: 33.17px;
}
footer .end .end3 {
  line-height: 1.5;
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 18px;
}
footer .end .end3 .pdiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end3 .pdiv1 p a {
  color: white;
  text-align: center;
}
footer .end .end3 .pdiv1 p a:hover {
  color: seagreen;
}
footer .end:hover .end3 .pdiv1 p a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
footer .end .end3 .pdiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .end .end3 .pdiv2 p a {
  color: white;
  text-align: center;
}
footer .end .end3 .pdiv2 p a:hover {
  color: seagreen;
}
footer .end:hover .end3 .pdiv2 p a {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0;
}
